.App {
    font-size: 1rem;
}

.Header {
    color: #443e3e;
    text-shadow: 1px 1px 5px #fff;
}

.none {
    display: none;
}

.button {
    width: 10rem;
  padding: 0.5rem 0;
  background-color: #d6c178;
  color: black;
  font-weight: 600;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3),
    0 6px 20px 0 rgba(255, 255, 255, 0.3);

  &: active {
    box-shadow: none;
  }
  @media screen and (max-width: 400px) {
    margin-top: 0.5rem;
  }
}

/* write your parent styles in here for your App.js */